* {
    margin: 0;
    font-family: Calibri, Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    width: 900px;
    margin: auto;
}

aside{
    background-color: #000064;
    float: right;
    color: white;
    width: 230px;
    padding: 20px 11px 80px 11px;
}

aside>*{
    margin-bottom: 20px;
}

aside h3{
    color: white
}

p{
    line-height: 1.65em;
}

a:visited{
    color: inherit;
}

aside>p{
    margin-bottom: 12px;
    font-size: 1.01em;
}

#main{
    margin-right: 245px;
    margin-top: 20px;
}

h1{
    text-align: center;
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 25px;
    letter-spacing: 0.1em;
    word-spacing: 0.13em;
    color: #000064;
}

h2{
    background-color: #000064;
    color: #fff;
    padding: 3px 20px;
    width: 405px;
    margin-top: 20px;
    margin-bottom: 4px;
    letter-spacing: 0.13em;
    word-spacing: 0.15em;
    border-radius: 15px 0;
}

h3{
    color: #e94a35;
    margin-top:32px;
}

h6 {
    color: #e94a35;
}

a{
    text-decoration: none;
}

a h3:hover, a h6, p a{
    text-decoration: underline;
}

img{
    width: 22px;
    height: 22px;
    vertical-align: middle;
}

h4{
    margin-left: 25px;
}

h6{
    margin: 3px 0px 5px 25px;
}

p + h3{
    margin-top: 60px;
}

p + h4{
    margin-top: 40px;
}


#main h1, strong, .emphasis{
    font-weight: bold;
    color: #000064;
}

td{
    vertical-align: top;
    padding-bottom: 10px;
}

td:first-child{
    text-align: center;
    width: 200px;
}

td + td{
    text-align: justify;
}

.emphasis{
    font-variant: small-caps;
    font-size: 1.1em;
    margin-bottom: 6px;
}

.bloccorps p, #main p{
    text-align: justify;
}

#intro{
    margin-bottom: 30px;
}