* {
    margin: 0;
    font-family: Calibri, Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    width: 980px;
    margin: auto;
}

aside{
    background-color: #000064;
    float: right;
    color: #fff;
    width: 215px;
    padding: 20px 11px 90px 11px;
}

aside>*{
    margin-bottom: 32px;
}

p{
    line-height: 1.65em;
}

aside>p{
    margin-bottom: 12px;
    font-size: .93em;
    color:white
}

#main{
    margin-right: 240px;
    padding-top: 20px;
}

#main>p{
    text-align: justify;
    text-indent: 40px;
    padding-bottom: 10px;
    padding-top: 5px;
}


h1{
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
    letter-spacing: 0.1em;
    word-spacing: 0.13em;
}

h2{
    background-color: #000064;
    color: #fff;
    padding: 3px 20px;
    width: 405px;
    margin-top: 20px;
    margin-bottom: 4px;
    letter-spacing: 0.13em;
    word-spacing: 0.15em;
    border-radius: 15px 0;
}

h3{
    margin-top:32px;
}

img{
    width: 22px;
    height: 22px;
    vertical-align: middle;
}

h4{
    margin-left: 25px;
}

p + h3{
    margin-top: 70px;
}

p + h4{
    margin-top: 40px;
}


#main h1, strong, .emphasis{
    font-weight: bold;
    color: #000064;
}

td{
    vertical-align: top;
    padding-bottom: 10px;
}

td:first-child{
    text-align: center;
    width: 210px;
}

td:first-child .emphasis{
    color: #000064  
}

td + td{
    text-align: justify;
}

.emphasis{
    font-variant: small-caps;
    font-size: 1.1em;
    margin-bottom: 6px;
    color: #e94a35;
}

strong{
}
